# Ignoring all .yml files (globally)
*.yml

# Ignoring specific Caddy-related files
Caddyfile
caddy.production.dockerfile
Caddyfile.production

# Ignoring everything inside these folders
db-data/mongo-db/*
db-data/postgres/*
db-data/rabbitmq/*
